[submodule "labs/_pp-python"]
	path = labs/_pp-python
	url = git@github.com:SisfoK/pp-python.git
[submodule "labs/_pp-java"]
	path = labs/_pp-java
	url = git@github.com:SisfoK/pp-java.git
[submodule "labs/_pbo-java"]
	path = labs/_pbo-java
	url = git@github.com:SisfoK/pbo-java.git
[submodule "labs/_asm"]
	path = labs/_asm
	url = git@github.com:SisfoK/asm.git
[submodule "_sass"]
	path = _sass
	url = git@github.com:SisfoK/classless-css.git
