<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>
  <main>
    <nav>
      <ul>
        <li><a href="/" id="home"><b>SisfoK-UH</b></a></li>
        <li><a href="/about.html">about</a></li>
      </ul>
    </nav>
