body {
    max-width: 720px;
    margin: auto;
    background: #333333;
    color: #EAC67A;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5em;
}

p {
    hyphens: auto;
}

a,
a:active,
a:visited {
    color: #ebdbb2;
    text-decoration-color: #ebdbb2;
}

a.bare {
    word-break: break-all;
}

a:hover,
a:focus {
    color: #d79921;
}

summary {
    font-weight: 700;
}

footer {
    text-align: center;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.highlight {
    padding: 20px;
}

hr {
    border: 0.1px solid #EAC67A;
}

code {
    font-size: .9rem;
    line-height: 0;
}

.text-center {
    text-align: center;
}

blockquote {
    border-left: 1rem solid #b8bb26;
    padding: 1rem;
    margin-left: 0;
}