body,
.accordion-body,
button,
footer>p,
table {
    background: #282828 !important;
    color: #ebdbb2 !important;
    font-family: -apple-system, Helvetica Neue, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
    line-height: 1.6;
}

.accordion-button,
.accordion-body {
    border: 1px solid #ebdbb2 !important;
}

a,
a:active,
a:visited {
    color: #ebdbb2;
    text-decoration-color: #ebdbb2;
}

a.bare {
    word-break: break-all;
}

a:hover,
a:focus {
    color: #d79921;
}

h1 {
    font-weight: bolder;
}

h2,
h3 {
    font-weight: bold;
}

img,
object,
svg,
video {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

html {
    font-size: 22px;
    line-height: 1.5em;
}

p {
    hyphens: auto;
}

h1,
h2,
h3 {
    text-rendering: optimizeLegibility;
    line-height: 1em
}

h1 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .5em;
}

h2,
h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

hr {
    border: solid #dddddf;
    border-width: 1px 0 0;
    height: 0;
}

code {
    font-family: "JetBrains Mono", monospace;
    color: #d79921;
}

.quoteblock {
    padding-left: 1em;
    border-left: 3px solid #ba3925;
}

.container {
    max-width: 960px;
}

.accordion-flush .accordion-button {
    border: 1px solid black;
    border-radius: 0;
}

.accordion-flush .accordion-item .accordion-collapse.collapse {
    border: 1px solid black;
    border-top: none;
    border-radius: 0;
}

.tooltip-inner {
    max-width: 1000px !important;
    border-radius: 0%;
}

.tooltip .tooltip-arrow {
    display: none;
}