{%- include header.html -%}
<section class="grid">
  <div class="gr-1">
    <h3>todo:</h3>
    <ol>
      <li>Refactory tutorial Python ke markdown</li>
      <li>Porting tutorial Python ke web</li>
      <li>Buat daftar link external untuk tutorial</li>
    </ol>
    <a href="https://github.com/sisfok" class="button btn-primary">lihat repo
       kami di GitHub!</a>
  </div>
</section>

<section class="tulisan">
  <h2>Beberapa tulisan:</h2>
  <details>
    <summary>Pengantar Pemrograman</summary>
    <p>Pengantar Pemrograman adalah mata kuliah di tahun pertama semester
    pertama. Mata kuliah ini membahas mengenai dasar-dasar pemrograman. Bahasa
    pemrograman yang digunakan dalam kuliah ini adalah bahasa Java.</p>
    <p>Materi yang diajarkan meliputi:</p>
    <ol>{% for ppjava in site.pp-java %}
      <li class="list-tutorial">
        <a href="{{ ppjava.url }}" title="{{ site.url }}{{ ppjava.url }}">
          {{ ppjava.title }}</a>
      </li>{% endfor %}
    </ol>
    <p>Reference:</p>
    <ol>
      <li>Java: The Complete Reference Eleventh Edition</li>
      <li>Modul Pengantar Pemrograman, Lab Rekayasa Perangkat Lunak Prodi Ilmu
        Komputer Universitas Hasanuddin</li>
    </ol>
  </details>

  <details>
    <summary>Pemrograman Berorientasi Objek</summary>
    <p>PBO atau Pemrograman Berorientasi Objek adalah matakuliah tahun pertama
    semester kedua yang mengajarkan materi tentang lanjutan dari materi
    Pengantar Pemrograman.</p>
    <ol>{% for pbojava in site.pbo-java %}
      <li>
        <a href="{{ pbojava.url }}" title="{{ site.url }}{{ pbojava.url }}">
          {{ pbojava.title }}</a>
      </li>{% endfor %}
    </ol>
    <p>Reference:</p>
    <ol>
      <li>Java: The Complete Reference Eleventh Edition</li>
      <li>Modul Pengantar Pemrograman, Lab Rekayasa Perangkat Lunak Prodi Ilmu
        Komputer Universitas Hasanuddin</li>
    </ol>
  </details>

  <details>
    <summary>Pengantar Pemrograman dengan Python</summary>
    <p>Pengantar Pemrograman dengan menggunakan Python sebagai bahasanya.</p>
    <p>Materi yang diajarkan meliputi:</p>
    <ol>{% for python in site.pp-python %}
      <li>
        <a href="{{ python.url }}" title="{{ site.url }}{{ python.url }}">
          {{ python.title }}</a>
      </li>{% endfor %}
    </ol>

    Reference:
    <ol>
      <li><a href="https://docs.python.org/3/">Dokumentasi Resmi Python</a></li>
      <li>Modul Pengantar Pemrograman, Lab Rekayasa Perangkat Lunak Prodi Sistem
        Informasi Universitas Hasanuddin</li>
    </ol>
  </details>

  <details>
    <summary>Catatan Assembly</summary>
    <p>Catatan belajar pemrograman level bawah dengan menggunakan
    Linux-x86_64</p>
    <ol>{% for post in site.posts reversed %}{% if post.path contains 'assembly' %}
      <li>
        <a href="{{ post.url }}" title="{{ site.url }}{{ post.url }}">
           {{ post.title }}</a>
      </li>{% endif %}{% endfor %}
    </ol>
  </details>
</section>

<h3>team:</h3>
<div class="ava">
  {% assign teams = "deovaliandro|BobChrismansyah|Michikow10|EdgarWi1|Devonian10
  |deril1709|yukiao|trulyroselyne|Jons1104|AJRPlayz" | split:"|" %}
  {% for team in teams %}
  <a href="https://github.com/{{team}}">{% avatar user=team %}</a>
  {% endfor %}
</div>
<hr>
<!-- footer -->
{%- include footer.html -%}
</body>

</html>
